*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    transition: all .3s;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: sans-serif;
}


.mobile-nav{
    display: none !important;
}
.blur{
    filter: blur(2px);
}

.hidden{
    opacity: 0;
    transform: translateY(8rem);
}

.hidden-btn{
    display: none !important;
}
.hidden-nav-btn{
    display: none;
}

.header{
    padding-bottom: 6rem;
    background-color: #ffeeee;
}
.header-content{
    max-width: 130rem;
    margin: 0 auto;
    padding-top: 5rem;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}
.nav_header-name{
    font-size: 1.8rem;
    font-weight: 500;
}
.nav__links{
    list-style-type:none ;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav__link:link,.nav__link:visited{
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
    font-weight: 300;
}
.sign-in:link,.sign-in:visited{
    font-size: 1.8rem;
    font-weight: 300;
    margin-left: 3rem;
    color: #000;
}
.sign-in:hover,.sign-in:active{
    color: #0d7f07;
}
.sign-up:link,.sign-up:visited{
    background-color: #3931a5;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.8rem;
}
.sign-up:hover,.sign-up:active{
    background-color: #0d7f07;
    transition: all .2s;
}

/* ------------- HERO --------------- */

.header-content__hero{
    display: flex;
}
.hero__description{
    flex-basis: 50%;
}
.hero__description_ratings-info{
    display: flex;
    gap: 2rem;
}
.hero__description_ratings{
    align-self: center;
}
.hero__description_ratings-para{
    font-size: 1.6rem;
    align-self: flex-end;
}
.hero__image-box{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}
.hero__img{
    max-width: 90%;
}
.hero__description{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.hero__description_heading{
    font-size: 5.8rem;
}
.hero__description_para{
    font-size: 2rem;
}

.hero__description_links-box{
    display: flex;
    gap: 4rem;
    
}
.hero__description_links-box_start:link,.hero__description_links-box_start:visited{
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: #3931a5;
    padding: 2rem 3rem;
    border-radius: 1rem;
}
.hero__description_links-box_start:hover,.hero__description_links-box_start:active{
    background-color: #0d7f07;
    transition: all .2s;
}
.hero__description_links-box_examples:link,.hero__description_links-box_examples:visited{
    font-size: 2rem;
    align-self: center;
    text-decoration: none;
    border-bottom: 2px solid blueviolet;
    color: #3931a5;
}
.hero__description_links-box_examples:hover,.hero__description_links-box_examples:active{
    color: #0d7f07;
}
.hero__description_list-box{
    
    list-style: none;
    display: flex;
    gap: 2rem;
}
.hero__description_links-item{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.8rem;
}


/* ------------- SECTION -------------- */

.section-1-2{
    max-width: 130rem;
    margin: 0 auto;
    padding-top: 5rem;
}


.features__header{
    max-width: 70rem;
}

.features__header__para{
    font-size: 2rem;
    color: #3931a5;
    margin-bottom: 2rem;
}
.features__header__heading{
    font-size: 3rem;
}

.features__advantages-box{
    margin-top: 6rem;
    display: flex;
    gap: 10rem;
}

.advantages-boxes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 30%;
}

.advantages-box__time-box_image{
    width: 8%;
}

.advantages-box__time-box_heading{
    font-size: 2rem;
}
.advantages-box__time-box_para{
    font-size: 1.6rem;
}

.features_picture-box{
    margin-top: 12rem;
    background-color: #3931a5;

    border-radius: 1rem;
    display: flex;
}
.features_picture-box_description{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: #fff;
    margin-left: 5rem;
}

.picture-box_description_heading{
    font-size: 3rem;
}
.picture-box_description_para{
    font-size: 1.8rem;
    max-width: 40rem;
}

.picture-box_description_link:link,.picture-box_description_link:visited{
    background-color: #fff;
    color: #3931a5;
    padding: 2rem 3rem;
    margin-top: 1.3rem;
    display: inline-block;
}
.picture-box_description_link:hover,.picture-box_description_link:active{
    background-color: #0d7f07;
    transition: all .2s;
    color: #fff;
    
}

.features_picture-box_img-box{
    flex-basis: 55%;
    align-self: flex-end;
}
.features_picture-box_img-box_img{
    max-width: 85%;
}

.opinions{
    display: flex;
    gap: 2rem;
}

.opinions_opinion-box{
    border: 1px solid #eee;
    
    border-radius: 5px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.opinion-char_info-box_img{
    width: 90%;
}

.opinion-box_char-box{
    display: flex;
    gap: 1rem;
}
.opinion-box_char-box_info-box{
    align-self: center;
}
.opinion-box_char-box_info-box_name{
    color: #3931a5;
    font-size: 1.5rem;
}
.opinion-box_char-box_info-box_about{
    font-size: 1.2rem;
    padding-left: 2px;
}
.opinions_opinion-box_info{
    font-size: 1.4rem;
    line-height: 1.4;
}
.opinions_opinion-box_link:link,.opinions_opinion-box_link:visited{
    text-decoration: none;
    font-size: 2rem;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: .5rem 7rem;
    border-radius: 8px;
    
}
.opinions_opinion-box_link:hover,.opinions_opinion-box_link:active{
    background-color: #3931a5;
    color: #fff;
}

.footer{
    background-color: #ffeeee;
    margin-top: 10rem;
}
.footer_content-box{
    max-width: 110rem;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    gap: 10rem;
}
.footer_content-box_list-box_header{
    font-size: 2rem;
    font-weight: 300;
}
.footer_content-box_list-box{
    /* flex-basis: 20%; */
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer_name-box{
    flex-basis: 30%;
}
.footer_content-box_list-box_link:link , .footer_content-box_list-box_link:visited{
    font-size: 1.6rem;
    text-decoration: none;
    color: #000;
}
.footer_header{
    font-size: 1.6rem;
}
.footer_name-box > p {
    font-size: 1.4rem;
    line-height: 1.2;
}

/* --------- Mobile Nav ------- */
.mobile-nav{
    display: flex;
    background: none;
    border: none;
    padding-right: 2rem;
}
.mobile-nav > span {
    font-size: 3.8rem;

}
/* ------------ Queries ------------ */

@media (max-width:84rem) {
    html{
        font-size: 60%;
    }
}

@media (max-width:80rem) {
    html{
        font-size: 56%;
    }
}

@media (max-width:75rem) {
    html{
        font-size: 52%;
    }
}

@media (max-width:68rem) {
    html{
        font-size: 47%;
    }
    .opinions_opinion-box_info{
        font-size: 1.6rem;
    }
}

@media (max-width:62rem) {
    html{
        font-size: 42%;
    }
    .opinions_opinion-box_info{
        font-size: 1.6rem;
    }
    .footer_name-box > p{font-size: 1.5rem;}
    .opinion-char_info-box_img{
        width: 85%;
    }
}

@media (max-width:56rem) {
    html{
        font-size: 38%;
    }
    .opinions_opinion-box_info{
        font-size: 1.6rem;
    }
    .footer_name-box > p{font-size: 1.5rem;}
    .opinion-char_info-box_img{
        width: 85%;
    }
}

@media (max-width:50rem) {
    html{
        font-size: 34%;
    }
    .opinions_opinion-box_info{
        font-size: 1.5rem;
    }
    .footer_name-box > p{font-size: 1.5rem;}

    .opinion-char_info-box_img{
        width: 83%;
    }
}

@media (max-width:45rem) {
    html{
        font-size: 60%;
        
    }
    .nav{
        padding: 0 2rem;
    }
    .header-content__hero{
        flex-direction: column;
    }
    .hero__image-box{
        order: -1;
        justify-content: center;
    }
    .hero__img{
        max-width: 70%;
    }
    .hero__description{
        margin-left: 2rem;
    }
    .features_picture-box{
        margin: 2rem 2rem;
    }
    .features__advantages-box {
        flex-direction: column;
        gap: 5rem;
    }
    .features__header{
        margin-left: 10rem;
    }
    .advantages-boxes{
        max-width: 40rem;
        margin: 0 auto;
    }
    .opinions_opinion-box_info{
        font-size: 1rem;
    }
    
    .opinions_opinion-box_link:link, .opinions_opinion-box_link:visited{
        font-size: 1rem;
        padding: 0.5rem 2.5rem;
    }
    .opinion-box_char-box_info-box > p , .opinion-box_char-box_info-box > h3{
        font-size: 1.2rem !important;
    }
    .footer_content-box{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 2rem;
    }
}

@media (max-width:26.7rem) {
    html{
        font-size: 42%;
    }
    .header-content__hero{
        margin: 0 5rem;
    }
    .hero__description_ratings-info{
        display: none;
    }
    .hero__description_para{
        font-size: 2.4rem;
        color: #555;
    }
    .hero__img{
        width: 100%;
    }
    .hero__description{
        margin-top: 4rem !important;
    }
    .opinions{
        flex-direction: column;
    }
    .opinions_opinion-box > p{
        font-size: 2rem;
    }
    .opinion-box_char-box_info-box > p {
        font-size: 2rem !important;
    }
    .opinion-box_char-box_info-box > h3 {
        font-size: 2.4rem !important;
    }
    .opinions_opinion-box_link:link, .opinions_opinion-box_link:visited{
        font-size: 2rem;
        padding: 1rem 10.5rem;
    }
    .opinions_opinion-box{
        /* border: none; */
        margin: 2rem 5rem;
    }
    .features_picture-box{
        flex-direction: column;
    }
    .features_picture-box_img-box{
        margin-top: 5rem;
        display: flex;
        justify-content: center;
    }
    .features_picture-box_description{
        margin-top: 5rem;
    }
    .hero__description_links-box{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .hero__description_links-box_start{
        width: 100%;
        text-align: center;
        font-size: 2.4rem !important;
    }
    .hero__description_links-box_examples{
        align-self: flex-start;
    }
    .hero__description_list-box{
        flex-direction: column;
        /* gap: 1rem; */
    }

    .picture-box_description_link{
        width: 80%;
    }
    .features_picture-box_description{
        padding: 3rem 2rem;
    }

    .footer_name-box{
        grid-column: 1/3;
    }
    .footer_name-box > p {
        font-size: 2rem;
    }
    .footer_name-box > h2 {
        font-weight: 600;
    }
    .nav_header-name{
        font-size: 2.4rem;
    }



    .nav__links{
        background-color: rgba(0, 0, 0, 0.964);
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;


        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    .hidden-nav{
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
    }
    .nav__link:link,.nav__link:visited{
        color: #fff;
        transform: translateX(-25%);
        font-size: 3rem;
    }

    .sign-in:link,.sign-in:visited{
        color: #3931a5 !important;
        padding: 0;
        margin: 0;
        transform: translateX(-12%);
    }
    .sign-up:link,.sign-up:visited{
        background: none;
        padding: 0;
        color: #0d7f07;
        transform: translateX(-6%);
    }
    .nav__link:nth-child(2):link,.nav__link:nth-child(2):visited{
        transform: translateX(-12%);
    }
    .nav__link:nth-child(1):link,.nav__link:nth-child(1):visited{
        transform: translateX(1%);
    }
    .mobile-nav{
        z-index: 1;
        display: block;
    }

    .mobile-nav{
        display: block !important;
    }


}

@media (max-width: 24.6rem) {
    .opinions_opinion-box_link:link,.opinions_opinion-box_link:visited{
        padding: 1rem 8rem;
    }
    .picture-box_description_link{
        width: 90% !important;
    }
    .features__header{
        margin-left: 8rem;
    }
    .features_picture-box_description{
        padding: 3rem 1rem;
    }
}

@media (max-width: 22.5rem) {
    .opinions_opinion-box_link:link,.opinions_opinion-box_link:visited{
        padding: 1rem 7rem;
    }
    .picture-box_description_link{
        width: 90% !important;
    }
    .features__header{
        margin-left: 7rem;
    }
    .features_picture-box_description{
        padding: 3rem 1rem;
    }
}

@media (max-width: 21.75rem) {
    .opinions_opinion-box_link:link,.opinions_opinion-box_link:visited{
        padding: 1rem 6rem;
    }
    .picture-box_description_link{
        width: 90% !important;
    }
    .features__header{
        margin-left: 6rem;
    }
}

@media (max-width: 20.9rem) {
    .opinions_opinion-box_link:link,.opinions_opinion-box_link:visited{
        padding: 1rem 4.8rem;
    }
    .picture-box_description_link{
        width: 90% !important;
    }
    .features__header{
        margin-left: 5rem;
    }
}